<div id="docwrap">
	<div id="docnav">
		<img src="images/teamshots/headshot-brent.jpeg" alt="Brent Stineman" />
	</div>
	<div id="docmain">
		<h2>Brent Stineman - Cat Herder</h2>		
		Responsible for helping kick off the project and keeping all the cats moving in the right direction. Not the sharpest technical tool in the shed, but holder of the "vision" and responsible for working with potential adopters.		

		Online at: <a href="http://brentdacodemonkey.wordpress.com" title="Brent's Notepad">Brent's Notepad</a>

		<i class="fa fa-twitter"> <a href="http://twitter.come/brentcodemonkey" title="Brent@Twitter">@brentcodemonkey</a></i> or <i class="fa fa-envelope"> <a href="mailto:http://brestin@microsoft.com" title="Brent@Work">brestin@mirocosft.com</a></i>
	</div>

</div>